<!-- <article class="article-item" *ngFor="let pelicula of peliculas; let i=index"> -->
<article class="article-item" >
  <div class="image-wrap">
    <img src="{{pelicula.image}}" alt="{{pelicula.title}}">
  </div>
  <h2>{{pelicula.title}}</h2>
  <span class="date">Hace 5 minutos</span>
  <a href="article.html">Leer más</a>
  <button (click)="seleccionar($event,pelicula)">
    Selecionar como Favorita
  </button >
  <!-- <span class="year" [class.year-green]="pelicula.year>2016" [class.year-red]="pelicula.year<2016">{{pelicula.year}} -->
  <span class="year" [ngClass]="{'year-green': pelicula.year>2016,
                               'year-red':pelicula.year<2016}">
    {{pelicula.year}}

  </span>


  <div class="clearfix"></div>
</article>
