<app-slider [nombre]="'Formulario'" [size]="'small'">
</app-slider>


<div class="center">
  <section id="content">
    <h1 class="subheader">Formulario</h1>
    <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required pattern="[a-zA-Z]+">
        <small *ngIf="!nombre.valid && nombre.touched">
          El nombre no es valido
        </small>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="user.apellidos" required>
        <small *ngIf="!apellido.valid && apellido.touched">
          El apellido no es valido
        </small>
      </div>
      <div class="form-group">
        <label for="bio" >Biografia</label>
        <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required ></textarea>
        <small *ngIf="!bio.valid && bio.touched">
          La bio no es valida
        </small>
      </div>
      <div class="form-group radiobtn-form">
        <input type="radio" name="genero" value="M" #genero="ngModel" [(ngModel)]="user.genero" required/>Hombre
        <input type="radio" name="genero" value="F" #genero="ngModel" [(ngModel)]="user.genero" />Mujer
        <input type="radio" name="genero" value="O" #genero="ngModel" [(ngModel)]="user.genero" />Otro
        <small *ngIf="!genero.valid && genero.touched">
          El genero no es valido
        </small>
      </div>
      <div class="clearfix"></div>
      <input type="submit" value="Enviar" class="btn btn-success" [disabled]="userForm.invalid">
    </form>
    <h2 class="subheader"> Eventos</h2>
    <button (click)=hasDadoClick()>Dale Click</button>
    <input type="text" [(ngModel)]="campo" (blur)="hasSalido()">
    {{campo}}
  </section>
  <app-sidebar></app-sidebar>
</div>
