<app-slider [nombre]="'Blog'" [size]="'small'"></app-slider>


<div class="center">
  <section id="content">
    <h1 class="subheader">BLOG</h1>

<app-articles
[articles]="articles"
></app-articles>


  </section>
  <app-sidebar></app-sidebar>
</div>
