<app-slider [nombre]="'Busqueda: ' +mBuscarArticulo" [size]="'small'"></app-slider>


<div class="center">
  <section id="content">
    <h1 class="subheader"> Articulos Encontrados</h1>

    <app-articles
      [articles]="objArticulos"
    ></app-articles>


  </section>
  <app-sidebar></app-sidebar>
</div>
