<div class="loading" *ngIf="!articles">
  Cargando...
</div>

<div class="loading" *ngIf="articles &&articles.length==0">
  No se encontro nada
</div>
<div id="articles" >
  <article class="article-item" id="article-template" *ngFor="let article of articles">
      <div class="image-wrap">
          <img  src="{{url+'getimage/'+article.image}}" alt="{{article.title}}" *ngIf="article.image">
          <img  src="assets/images/default.png" alt="{{article.title}}" *ngIf="!article.image">
      </div>
      <h2>{{article.title}}</h2>
      <!-- <span class="date">{{article.date | date:'dd-MM-yyyy hh:mm:ss a'}}</span> -->
      <span class="date">{{article.date | amLocale:'es' | amTimeAgo}}</span>

      <!-- <a href="article.html">Leer más</a> -->
      <a [routerLink]="['/blog/articulo',article._id]" routerLinkActive="router-link-active" >Leer más</a>
      <div class="clearfix"></div>
  </article>
  <!-- AÑADIR ARTICULOS VIA JS -->
</div>
