<app-slider [nombre]="'Bienvenido al Master en framework para JavaScript con Oscar Diaz'"></app-slider>


<div class="center">
  <section id="content">
    <!-- <h2 class="subheader">{{title}}</h2> -->
    <app-articles [articles]="articles"></app-articles>
  </section>
  <app-sidebar></app-sidebar>
</div>
