<app-slider [nombre]="'Pagina'"></app-slider>


<div class="center">
  <section id="content">

    <p>pagina works!</p>
    <div *ngIf="nombre && apellidos; then siHayParametros else nohayParametros">

    </div>

    <ng-template #siHayParametros>
      <h2>El nombre es: {{nombre}}</h2>
      <h2>El apellido es: {{apellidos}}</h2>
    </ng-template>

    <ng-template #nohayParametros>
      <h2>NO HAY PARAMETROS DE PASO</h2>
    </ng-template>

    <button (click)="redireccion()">llevame al formulario</button>


  </section>
  <app-sidebar></app-sidebar>
</div>
