<div class="center">
  <section id="content">
    <h1 class="subheader">{{tituloPag}}</h1>
    <form class="mid-form" #articuloForm="ngForm" (ngSubmit)="onSubmitEnviarData()">
      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" #titulo="ngModel" [(ngModel)]="objArticulo.title" required>
        <small *ngIf="!titulo.valid && titulo.touched">
          El titulo no es valido
        </small>
      </div>

      <div class="form-group">
        <label for="contenido">Contenido</label>
        <textarea name="bio" #contenido="ngModel" [(ngModel)]="objArticulo.content" required></textarea>
        <small *ngIf="!contenido.valid && contenido.touched">
          El contenido no es valido
        </small>
      </div>

      <div class="form-group">
        <div class="image-prev-form" *ngIf="isEdit" >
            <img src="{{url+'getimage/'+ objArticulo.image}}" alt="{{ objArticulo.title }}" *ngIf="objArticulo.image">
            <img src="assets/images/default.png" alt="{{objArticulo.title}}" *ngIf="!objArticulo.image">
        </div>

        <angular-file-uploader
          [config]="afuConfig"
          (ApiResponse)="imagenCargada($event)">
        </angular-file-uploader>
<!--        <label for="imagen">Imagen</label>-->
<!--        <input type="file" name="imagen">-->

      </div>

      <div class="clearfix"></div>
      <input type="submit" value="Guardar" class="btn btn-success" [disabled]="articuloForm.invalid">

    </form>

  </section>
  <app-sidebar></app-sidebar>
</div>
