body {
  text-align: center !important;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

#header {
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid #E23237;
  background: white;
}

.center {
  width: 75%;
  margin: 0px auto;
}

.clearfix {
  /* PARA LIMPIAR LOS FLOTADOS */
  clear: both;
  float: none;
}

#logo {
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 35px;
}

#logo a {
  color: black;
  text-decoration: none ;

}

#logo img {
  display: block;
  float: left;
  height: 60px;
  margin-top: -10px;
  /* margin-right: -10px; */
  animation: latir infinite 3s linear;
  /* nombre de animacion, va a durar 20 seg, será linear osea que no va a comenzar rapido y luego lenta, siempre la misma velocidad*/
}

.center-image{
  margin: auto;
  display: block;
  max-width: 100%;
}

@keyframes latir {
  0% {
      transform: scale(1, 1);
  }

  50% {
      transform: scale(1.02, 1.02);
  }

  55% {
      transform: scale(0.95, 0.95);
  }

  100% {
      transform: scale(1, 1);
  }
}

#brand {
  display: block;
  margin: 0px;
  float: left;
}

#menu {
  width: 70%;
  float: right;
  font-size: 18px;
  text-align: center;
}

#menu ul {
  line-height: 85px;
  /*le da el tamaño de linea de la cabecera*/
  width: 60%;
  float: right;
}

#menu ul li {
  list-style: none;
  /*quita los estilos de puntos a la lista*/
  height: 46px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  /*le quita la declaracion de subrayado al link*/
  color: #444444;
  transition: 300ms all;

}

#menu a:hover, .active {
  color: #E23237 !important;
}
/* con angular la etiqueta de la pelicula */
.year-green{
  display: block;
  background: green;
  color: white;
  padding: 5px;
  width: 182px;
  text-align: center;
}

.year-red{
  display: block;
  background: red;
  color: white;
  padding: 5px;
  width: 182px;
  text-align: center;
}
/* con angular la etiqueta de la pelicula */

#slider {
  /* background: #61DAFB; */
  width: 100%;
  height: 350px;
  /* line-height: 320px; */
  color: white;
  text-shadow: 0px 0px 5px #444444;

  /* DEGRADADO CON CSS */

  background: rgba(181, 46, 49, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(181, 46, 49, 1) 0%, rgba(226, 50, 55, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(181, 46, 49, 1)), color-stop(100%, rgba(226, 50, 55, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(181, 46, 49, 1) 0%, rgba(226, 50, 55, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(181, 46, 49, 1) 0%, rgba(226, 50, 55, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(181, 46, 49, 1) 0%, rgba(226, 50, 55, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(181, 46, 49, 1) 0%, rgba(226, 50, 55, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b52e31', endColorstr='#e23237', GradientType=1);





}

#slider h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 133px;
  text-align: center;
}

.btn-white {
  color: rgb(88, 88, 88);
  display: block;
  background: white;
  padding: 10px;
  width: 105px;
  height: 35px;
  margin: 0px auto;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 35px;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
  margin-top: 40px;
  border-radius: 4px;
  transition: 100ms all;
}

.btn-white:hover {
  background: #444444;
  color: white;
}

#slider.slider-small {
  height: 150px;

}

#slider.slider-small h1 {
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 53px;
  text-align: center;
}

#content {
  width: 70%;
  float: left;
  /* border: 1px solid red; */
  min-height: 650px;
  margin-right: 20px;
}

#sidebar {
  width: 25%;
  float: left;
  /* border: 1px solid green; */
}

.sidebar-item {
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3 {
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 0px;
  border-bottom: 3px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sidebar-item .btn {
  margin: 0px auto;
  margin-top: 10px;

}

/* CLASE BTN GENERAL  */
.btn {
  display: block;
  background: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 120px;
  transition: 100ms all;
  border: none;
  cursor: pointer;
  text-align: center;
}

/* CLASE BTN GENERAL  */

/* BOTON DE BUSCAR ETIQUETA a CON HREF DE LINK */
.btn-success {
  background: rgb(23, 150, 19);
}

.btn-success:hover {
  background: black;
}

.btn-warning {
  background: rgb(224, 135, 0);
  color: white !important;
}

.btn-danger {
  background: #E23237;
  color: white !important;
}

.btn-warning:hover,
.btn-danger:hover{
  opacity: 0.7;
  transition: all 300ms;
  text-decoration: none !important;
}

/* BOTON DE BUSCAR ETIQUETA a CON HREF DE LINK */

.buttons{
  margin-top: 50px;
}

/* CAJA DE TEXTO DE BUSCADOR Y FORMUALRIO */
input[type="text"],
input[type="file"],
textarea{
  width: 100%;
  height: 30px;
  min-height: 30px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 3px;
  border-radius: 4px;
  transition: 100ms all;
}

input[type="text"]:focus {
  box-shadow: 0px 0px 3px #ccc inset;

}

textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 150px;
  max-height: 300px;
  min-height: 150px;
}

.radiobtn-form {
  margin-top: 15px;
  margin-bottom: 20px;
  float: left;
}

.mid-form {
  width: 50%;
  margin: 0px auto;
}

.mid-form label {
  text-align: left;
  display: block;
  float: left;
  margin-bottom: 5px;
  font-size: 17px;
  margin-top: 10px;
}

.btn.up_btn.afu-attach-pin{
  width: 100% !important;
  display: block !important;
  max-width: 90% !important;
  margin-top: 15px !important;
}
/* CAJA DE TEXTO DE BUSCADOR */

#footer {
  background: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444444;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

.article-item {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}

.article-item .image-wrap {
  width: 190px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.article-item .image-wrap img {
  height: 100%;
  text-align: center;
  width: 100%;
}

.article-item h2 {
  display: block;
  width: 100%;
  padding: 0px;
  margin-bottom: 7px;
}

.article-item .date {
  display: block;
  width: 100%;
  color: rgb(122, 122, 122);
}

.article-item a {
  display: block;
  color: #444444;
  text-decoration: none;
  margin-top: 10px;
}

.article-item a:hover {
  text-decoration: underline;
}

.subheader {
  font-size: 38px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}

.article-detail .image-wrap {
  float: none;
  width: 100%;
  height: 300px;
}

.article-detail .image-wrap img {
  width: 100%;
  height: auto;
}

.article-detail .subheader {
  margin-top: 15px;
  margin-bottom: 0px;
  border: none;
}

.image-prev-form img{
  width: 250px;
}

/* RESPONSIVE DESIGN */

/* Desde el ancho 0px hasta el ancho de 1495 de pantalla */
@media (max-width:1490px) {
  .center {
      width: 85%;
  }
}

@media (max-width:1315px) {
  .center {
      width: 95%;
  }

  #menu ul {
      width: auto;
  }
}
/*PARA ANGULAR web responsive*/
@media (max-width:845px) {
  #logo {
      width: 250px;
  }
  #menu{
  width: auto;
}
}



@media (max-width:800px) {
  #logo {
      float: none;
      /* width: 240px; se comenta porque herda de arriba el tamaño */
      margin: 0px auto;
      margin-top: 20px;
  }

  #menu,
  #menu ul {
      clear: both;
      float: none;
      width: 100%;
      margin: 0px;
      padding: 0px;
      line-height: 43px;
  }

  #content {
      float: none;
      width: 100%;
  }

  #sidebar {
      float: none;
      width: 60%;
      margin: 0px auto;
      margin-bottom: 50px;
  }

  #slider h1 {
      padding-top: 110px;
      font-size: 25px;
  }

  .mid-form {
      width: 80%;
  }
}

@media (max-width:493px) {
  #header {
      min-height: 130px;
      overflow: hidden;
  }

  #menu,
  #menu ul {
      line-height: 50px;

  }

  #menu li {
      margin-right: 7px;
      margin-left: 7px;
  }

  #slider {
      height: 180px;
  }

  #slider h1 {
      font-size: 19px;
      padding: 20px;
  }

  #slider .btn-white {
      margin-top: 20px;
  }

  #slider .slider-small {
      height: 100px;
  }

  #slider .slider-small h1 {
      padding-top: 35px;
  }

}
