<header id="header">
  <!-- SE COLOCA EL LOGO -->
  <div class="center">
      <div id="logo">
          <a href="index.html">
              <img src="assets/images/angular.svg" class="app-logo" alt="logotipo" />

              <span id="brand"> <strong>Curso</strong>Angular </span>
          </a>
      </div>


      <!-- MENU -->
      <nav id="menu">
          <ul>
              <li>
                  <!-- <a [router-Link]= href="#">Inicio</a> -->
                  <a [routerLink]="['/home']" routerLinkActive="active" >Inicio</a>
              </li>
              <li>
                  <!-- <a [router-Link]="['/blog']">Blog</a> -->
                  <a [routerLink]="['/blog']" routerLinkActive="active" >Blog</a>
              </li>
              <li>
                  <!-- <a href="formulario.html">Formulario</a> -->
                  <!-- <a [router-Link]="['/formulario']">Formulario</a> -->
                  <a [routerLink]="['/formulario']" routerLinkActive="active" >Formulario</a>
              </li>
              <li>
                  <!-- <a [router-Link]="['/peliculas']">Peliculas</a> -->
                  <a [routerLink]="['/peliculas']" routerLinkActive="active" >Peliculas</a>
              </li>
              <li>
                  <a [routerLink]="['/pagina-de-pruebas']" routerLinkActive="active" >Pagina</a>
              </li>
          </ul>
      </nav>
      <!-- LIMPIAR LO FLOTADO -->
      <div class="clearfix"></div>
  </div>

</header>
