<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>


<div class="center">
  <section id="content">

    <div id="favorita" *ngIf="favorita">
      <h2 class="subheader">
        Pelicula favorita
      </h2>
      <h4>
        {{favorita.title | uppercase}}
      </h4>
      <h4>
        {{favorita.year | date: 'full'}}
      </h4>
      <!-- <h5>{{this.fecha | date}}</h5>  Sep 12, 2020 -->
      <!-- <h5>{{this.fecha | date:'short'}}</h5>  9/12/20, 12:00 AM -->
      <!-- <h5>{{this.fecha | date:'fullDate'}}</h5> Saturday, September 12, 2020 -->
      <h5>{{this.fecha | date:'dd/MM/yyyy'}}</h5> <!--12/09/2020-->
      <h5>{{favorita.year | espar }}</h5>


    </div>

    <h1 class="subheader">Peliculas</h1>
<!--
    <p>{{titulo}}</p>
    <button (click)="cambiarTitulo()">Pulsame</button>

    <hr />

    <h2>Moastrar la primera pelicula</h2>
    {{peliculas[0].title}}

    <hr>
    <h2>Numero de peliculas</h2>
    <div *ngIf="peliculas.length<=3">
      Hay pocas peliculas
      {{peliculas.length}}
    </div>

    <h2 class="subheader">Listado de peliculas</h2> -->
    <div id="articles" *ngIf="peliculas">
      <div *ngFor="let pelicula of peliculas; let i=index">
        <app-pelicula
        [pelicula]="pelicula"
        (MarcarFavorita)="mostrarFavorita($event)"
        ></app-pelicula>
      </div>

      <!-- AÑADIR ARTICULOS VIA JS -->
    </div>


  </section>
  <app-sidebar></app-sidebar>
</div>
